gestion/node_modules/
gestion/node/
node_modules/
node/
gestion/node_modules
gestion/node
*/**/node_modules
**/node_modules
**/.angular/cache
*.log
**.log
**/.vscode
gestion/.angular/cache/*
gestion/.angular/cache/
gestion/.angular/cache
**/.angular/cache/